body {
  background-color: whitesmoke;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100vh;
  grid-gap: 0px;
  padding: 25px;

  margin: 12%;
  margin-top: 50px;
}
.leftbar div {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
